body {

    background : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1FoC8XdyLI9_EcvInap0Qci8QMsM0eZp3JwXLgANKpMwT_6pm-Q);
    background-size: 100% auto;
    background-color: #2eace9;
}

p {
    color: white;
}

.row{
    margin-bottom: inherit;
    padding-bottom: 50px;
}

.container{
    height: 100%;
    width: 960px;
    background-color: black;<!--#080808;-->
    box-shadow: inset 0 -5px  5px rgba(0,0,0,.2);
}

.blog-masthead{
    background-color: #122b40;
    box-shadow: inset 0 -5px  5px rgba(0,0,0,.2);
    text-align: justify;
}

.blog-masthead img{
    padding: 10px;
}

#masthead{
    background-color: #122b40;
}

.blog-nav-item{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.blog-nav-item:hover{
    text-decoration:none;
    font-weight:bold;
    color:white;
}

.blog-title{
    text-transform: uppercase;
    font-size: 26px;
    color: white;
}

.blog-description{
    color :white;
}

.image-header{
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0px;
}

.blog-header{

}

.learn-more {
    text-align: center;

}


.col-md-6{
    padding-left: 200px;

}

.blog-footer{

    padding: 10px 0;
    color: black;
    text-align: center;
    background-color: #122b40;
    border-top: 1px solid black;
    height: auto;

}

#cloudcontrol{
    margin-top: 62px;
}

/*
CSS f�r Contact----------------------------------------------------------------------------------------------------------------------------------
*/

.contact-item {
    position: relative;
    text-align: center;
    height: 100%;
}
.text1{
    color:whitesmoke;
}
/*
CSS f�r AbouMe----------------------------------------------------------------------------------------------------------------------------------
*/

